:root {
  --input-padding-vertical: 6px;
  --input-padding-horizontal: 4px;
  --input-margin-vertical: 4px;
  --input-margin-horizontal: 0;
}

body {
  /** Use important to override chakra styles */
  /*  pr #140: consistent with vscode builtin-search */
  color: var(--vscode-sideBar-foreground, var(--vscode-foreground)) !important;
  font-size: var(--vscode-font-size) !important;
  font-weight: var(--vscode-font-weight) !important;
  font-family: var(--vscode-font-family) !important;
  user-select: none;
}
ol,
ul {
  padding-left: var(--container-paddding);
}

body > *,
form > * {
  margin-block-start: var(--input-margin-vertical);
  margin-block-end: var(--input-margin-vertical);
}
/* do not apply margin to root*/
html,
body,
#root {
  margin-block-start: 0;
  height: 100%;
}
#root {
  display: flex;
  flex-direction: column;
}

a {
  color: var(--vscode-textLink-foreground);
}

a:hover,
a:active {
  color: var(--vscode-textLink-activeForeground);
}

code {
  font-size: var(--vscode-editor-font-size);
  font-family: var(--vscode-editor-font-family);
}

button {
  border: none;
  text-align: center;
  /* padding: var(--input-padding-vertical) var(--input-padding-horizontal); */
  /* width: 100%; */
  /* color: var(--vscode-button-foreground); */
  /* background: var(--vscode-button-background); */
}

input:not([type="checkbox"]),
textarea {
  display: block;
  width: 100%;
  border: none;
  font-family: var(--vscode-font-family);
  padding: var(--input-padding-vertical) var(--input-padding-horizontal);
  color: var(--vscode-input-foreground);
  outline-color: var(--vscode-input-border);
  background-color: var(--vscode-input-background);
}

input::placeholder,
textarea::placeholder {
  color: var(--vscode-input-placeholderForeground);
}

svg {
  font-size: 16px;
}

@keyframes progress {
  0% {
    transform: translateX(0) scaleX(1);
  }

  50% {
    transform: translateX(2500%) scaleX(3);
  }

  to {
    transform: translateX(4900%) scaleX(1);
  }
}

.progressBar {
  animation-name: progress;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  transform: translateZ(0);
  animation-timing-function: linear;
  background-color: var(--vscode-progressBar-background);
  width: 2%;
  height: 2px;
}
