on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  test:
    name: Test
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - uses: pnpm/action-setup@v3
        with:
          version: 8
      - name: Install sg
        run: pnpm install -g @ast-grep/cli
      - name: Install deps
        run: pnpm install
      - name: Compile
        run: pnpm run compile
      - name: Run headless test
        uses: GabrielBB/xvfb-action@v1.6
        with:
          run: pnpm test
