name: Release

permissions:
  contents: write

on:
  push:
    tags:
      - '[0-9]+.*'

jobs:
  release-extension:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 16
      - name: Install deps
        run: npm install
      - name: Install vsce
        run: npm install vsce -g
      - name: Compile
        run: npm run compile
      - name: Package VSCE
        run: vsce package -o ast-grep-vscode.vsix
      - name: Create GH Release
        uses: softprops/action-gh-release@v1
        with:
          files: ast-grep-vscode.vsix
      - name: Publish extension
        run: vsce publish -p ${{ secrets.VSCE_TOKEN }}
